$split-pane-divider-width: 11px !default;
$split-pane-overflow: auto !default;
$split-pane-horizontal-cursor: col-resize !default;
$split-pane-vertical-cursor: row-resize !default;

.split-pane {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;
  height: 100%;

  box-sizing: border-box;

  > * {
    flex-grow: 1;
    flex-shrink: 1;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    overflow: $split-pane-overflow;
    -webkit-overflow-scrolling: touch; // enable momentum scrolling on iOS
  }
}

.split-pane--horizontal {
  flex-direction: row;
}

.split-pane--vertical {
  flex-direction: column;
}

.split-pane__divider {
  flex: 0 0 $split-pane-divider-width;

  overflow: hidden;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.split-pane__divider--horizontal {
  cursor: $split-pane-horizontal-cursor;
}

.split-pane__divider--vertical {
  cursor: $split-pane-vertical-cursor;
}
